.team {
  &__container {
    &--desc {
      max-width: 90%;
      margin: 0 auto;

      @media screen and (min-width: 650px) {
        width: 90%;
      }
    }

    &-contents {
      display: grid;
      place-items: center;
      margin: 5rem 0;
      gap: 2.5rem;
      grid-template-columns: repeat(1, minmax(0, 1fr));

      @media screen and (min-width: 650px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      @media screen and (min-width: 968px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }

      .team__contents-body {
        position: relative;
        background-color: rgb(75 85 99/ 1);
        overflow: hidden;
        cursor: pointer;
        border-radius: 0.5rem;
        height: 400px;
        width: 300px;

        .team__body-menu {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: linear-gradient(
            180deg,
            rgba(1, 12, 47, 0) 68.01%,
            var(--primary-color) 100%
          );
          transition: all 0.3s ease-in-out;
          z-index: 10;
        }

        .team__list {
          box-sizing: border-box;
          display: block;
          overflow: hidden;
          width: initial;
          height: 450px;
          background: none;
          opacity: 1;
          border: 0;
          margin: 0;
          padding: 0;
          position: relative;

          .team__item {
            box-sizing: border-box;
            display: block;
            width: initial;
            height: initial;
            background: none;
            opacity: 1;
            border: 0;
            margin: 0;
            padding: 0;
            padding-top: 100%;

            img {
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              box-sizing: border-box;
              padding: 0;
              border: none;
              margin: auto;
              display: block;
              width: 0;
              height: 0;
              min-width: 100%;
              max-width: 100%;
              min-height: 100%;
              max-height: 100%;
              transition-property: all;
              transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
              transition-duration: 0.15s;
              transition-delay: 0s;
            }
          }
        }

        .team__bio {
          position: absolute;
          left: 0;
          bottom: 0;
          z-index: 10;
          padding: 2rem;
          color: rgb(229 231 235/ 1);

          h3 {
            font-weight: 900;
            font-size: 1.5rem;
            line-height: 2rem;
            margin: 0.75rem 0 0.25rem;
          }

          p {
            font-weight: 300;
            font-size: 0.875rem;
            line-height: 1.25;
          }
          .speaker__socials {
            margin-top: 0.5rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            a {
              color: rgb(229 231 235/ 1);
              font-size: 1.5rem;
              transition: all 0.3s ease-in-out;
              &:hover {
                color: var(--primary-color);
              }
            }
          }
        }
      }
    }
  }
}

.header-bg {
  height: 100vh;
  width: 100%;
  box-shadow: var(--dark-shadow);
  background-color: hsl(16deg 43.27% 15%);

  @media screen and (max-width: 650px) {
    background-position: right;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    &-contents {
      h1 {
        font-size: 5rem;
        font-family: var(--heading-font);
        @media screen and (max-width: 650px) {
          margin-bottom: var(--mb-2);
          font-size: 2.7rem;
        }
      }
    }

    .scroll-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      flex-direction: column;
      position: absolute;
      bottom: 1rem;
      color: var(--clr-primary-8);
      cursor: pointer;

      svg {
        font-size: 1.4rem;
        animation: scroll 5s infinite;

        @keyframes scroll {
          0% {
            opacity: 0;
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
          }

          60% {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }

          100% {
            opacity: 0;
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
          }
        }
      }
    }
  }
}
