.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 170px;
  color: hsl(0, 0%, 0%);
  padding: 8px 16px;
  font-weight: var(--font-bold);
  cursor: pointer;
  transition: all 0.5s ease 0s;
  position: relative;
  outline: none;
  border-radius: 10px;
  border: 2px solid hsl(0, 0%, 0%);
  background: var(--primary-color);
  box-shadow: hsl(16, 80%, 35%) 2px 2px;
  span {
    color: var(--text-color);
    text-align: center;
    font-family: var(--heading-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }
  &:hover {
    color: rgb(255, 255, 255);
    background: var(--background);
    box-shadow: var(--title-color) 2px 2px;
    border: 2px solid hsl(0, 0%, 100%);
    transform: scale(0.9);
  }
}

@media screen and (max-width: 800px) {
  .btn-desktop {
    display: none;
  }
}

.btn-desktop__container {
  display: flex;
  gap: 1rem;
}

.btn-mobile__container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;

  @media screen and (min-width: 800px) {
    display: none;
  }
}
